<div class="form_wrapper">
  <div class="job_form">
    <%= simple_form_for(@job) do |f| %>
      <%= render 'company_form', job: @job, f: f %>
      <%= f.submit 'Add job', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
