<div class="form_wrapper">
  <div class="job_form">
  <%= simple_form_for(@job, method: :patch, url: update_salary_job_path) do |f| %>
    <%= render 'salary_form', job: @job, f: f %>
    <%= f.submit 'Add salary', class: 'btn btn-primary' %>
  <% end %>
  <%= link_to 'Skip', new_date_applied_job_path(@job), class: 'skip_button btn btn-default' %>
  </div>
</div>
