<div class="form_wrapper">
  <div class="job_form">
    <%= simple_form_for(@job, method: :patch, url: update_url_job_path) do |f| %>
      <%= render 'url_form', job: @job, f: f %>
      <%= f.submit 'Add URL', class: 'btn btn-primary' %>
    <% end %>
    <%= link_to 'Skip', root_path, class: 'skip_button btn btn-default' %>
  </div>
</div>
