#jobs_table {
  min-width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: left;
}

#jobs_table th, #jobs_table td {
  padding: 5px;
}

#jobs_table th {
  background-color: #55608f;
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#jobs_table td {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

#jobs_table .jobs_row:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 0.9);
}

#jobs_table .jobs_row:hover a, #jobs_table .jobs_row:hover button {
  color: rgba(255, 255, 255, 0.9);
}

#jobs_table .actions div {
  display: flex;
  justify-content: space-evenly;
}

#jobs_table button {
  background: transparent;
  border: none;
}


